.power {
  display: flex;
  color: rgba(255, 255, 240, 0.75);
  background-color:rgb(56, 56, 56);
  justify-content: center;
  border-radius: 5px;
  border: 2px solid ivory;
  border-style: outset;
  padding: 6px 8px;
}

.power input{
  max-width: 35px;
  margin-left: 5px;
  margin-right: 5px;
}

.power input:hover{
  cursor: pointer;
}

.backlight{
  transition: ease-in 0.2s;
  background-color:rgb(56, 56, 56, 0.5);
  box-shadow: inset 0px 0px 3px 1px gold, 0px 0px 3px 1px gold;
}

.backlight--numkeys {
  transition: ease-in 0.20s;
  color: ivory;
  text-shadow: 0 0 8px gold;
}

.backlight--operators {
  transition: color ease-in 0.20s;
  color: ivory;
  text-shadow: 0 0 6px gold;
}

.backlight--equals {
  transition: ease-in 0.20s;
  color:rgb(56, 56, 56);
}

/* Safari and Chrome */
input[type="range"]::-webkit-slider-thumb {
  cursor: ew-resize;
}

input[type="range"]::-moz-range-thumb{
  -webkit-appearance: none;
  cursor: ew-resize;
}

input[type="range"]::-ms-thumb{
  -webkit-appearance: none;
  cursor: ew-resize;
}

/* Turn it on */
.turn-it-on{
  animation-name: "turn-it-on";
  animation-duration: 4s;
} 

.blinking-cursor {
  font-weight: 100;
  font-size: 40px;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@media screen and (max-width: 400px){
  
  .blinking-cursor{
    font-size: 30px;
  }
/*
  .power{
    left: 55.5%;
    top: 10px;
  }
  */
}

.cursor-hide{
  display: none;
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: ivory;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: ivory;
  }
}

@-webkit-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: ivory;
  }
}

@-ms-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: ivory;
  }
}

@-o-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: ivory;
  }
}