.power {
  display: block;
  color: rgba(255, 255, 240, 0.75);
  position: relative;
  left: 59%;
  max-width: 120px;
}

.power input{
  max-width: 35px;
  margin-left: 5px;
  margin-right: 5px;
}

.power input:hover{
  cursor: pointer;
}

.backlight{
box-shadow: inset 0px 0px 3px 1px gold, 0px 0px 3px 1px gold;
}

/* Safari and Chrome */
input[type="range"]::-webkit-slider-thumb {
  cursor: ew-resize;
}

input[type="range"]::-moz-range-thumb{
  -webkit-appearance: none;
  cursor: ew-resize;
}

input[type="range"]::-ms-thumb{
  -webkit-appearance: none;
  cursor: ew-resize;
}

.blinking-cursor {
  font-weight: 100;
  font-size: 40px;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@media screen and (max-width: 400px){
  
  .blinking-cursor{
    font-size: 30px;
  }

  .power{
    left: 55.5%;
    top: 10px;
  }
  
}

.cursor-hide{
  display: none;
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: ivory;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: ivory;
  }
}

@-webkit-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: ivory;
  }
}

@-ms-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: ivory;
  }
}

@-o-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: ivory;
  }
}