@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

/* Alarm clock font */
@font-face {
  font-family: "Digital_Dismay", sans-serif;
  src: url("/fonts/DigitalDismay.otf");
}

*{
  margin: 0px;
  padding: 0px;
}

body{
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  background-color: ivory;
  box-sizing: border-box;
}
/* FOR DEV ONLY
div{
  border: 1px solid red;
}
 */


ol, li {
  list-style: none;
}

main {
  min-height: 80vh;
  display: flex;
  justify-content: center;
}

header, footer{
  display: flex;
  padding: 0px 20px;
  min-height: 10vh;
  background-color:rgb(56, 56, 56);
  color: ivory;
}

header a, a:hover, a:visited, a:active{
  color: ivory;
}   

footer{
  justify-content: space-between;
  align-items: center;
}

footer a, a:hover, a:visited, a:active{
  color: ivory;
}

h1{
  font-size: 1.5rem;
  padding: 20px;
  text-align: center;
}

@media screen and (min-width: 480px){
  h1 {
    text-align: left;
  }
}

/*
button{
  background-color: rgb(56, 56, 56);
  color: ivory;
  padding: 6px 10px;
  text-align: center;
  border-style: none;
  border-radius: 8px;
  box-shadow: 1px 1px 1px 1px ivory;
}
*/

.calculator{
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px;
  width: 335px;
  height: 480px;
  margin: 35px 41px 20px 20px;
  background-color: rgb(107, 137, 187);
  color: rgb(56, 56, 56);
  border: 2px solid rgba(56, 56, 56, 0.4);
  border-radius: 30px;
  box-shadow: 8px -8px 10px 10px rgba(56, 56, 56, 0.3), 8px -8px 0px 10px rgb(107, 137, 187), 21px -10px 3px 3px rgba(56, 56, 56, 0.8);
}

.btn:hover{
  cursor: pointer;
}

.btn:active{
  transform: scale(0.9);
}

.calc-header{
  display: flex;
  max-width: 100%;
  height: 36px;
  flex: 1;
  align-items: center;
  text-align: center;
  border-bottom: 2px solid rgb(56, 56, 56, 0.5);
  margin-bottom: 8px;
}

.brand{
  flex: 1;
  color: ivory;
  opacity: .75;
  font-size: 22px;
}

.solar-panel{
  flex: 1;
}

.solar-panel img{
  max-width: 100%;
  height: 36px;
  border: 2px solid rgb(56, 56, 56);
  border-radius: 20%;
}

.screen{
  display: flex;
  flex: 4;
  color: ivory;
  opacity: .9;
  border: 1px solid gold;
  border-radius: 10px;
  background-color:rgb(56, 56, 56, 0.5);
  /*box-shadow: inset 0px 0px 3px 1px gold, 0px 0px 3px 1px gold;*/
  padding: 8px;
  font-size: 2rem;
  align-items: flex-end;
  justify-content: right;
  max-width: 235px;
  overflow: hidden;
}

.io{
  font-family: "DigitalDismay";
  font-size: 2.5rem;
  font-weight: 100;
  letter-spacing: .1rem;
  max-width: 200px;
  overflow: hidden;
}

#exponent {
  font-family: "DigitalDismay";
  font-size: 2.5rem;
  font-weight: 100;
}

.numpad{
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
}

.row-1, .row-2, .row-3, .row-4, .row-5 {
  display: flex;
  gap: 6px;
}

.numkey, .operator, .equals, .btn-clear{
  flex: 1;
  opacity: .925;
  color: ivory;
  font-size: 2rem;
  width: 60px;
  height: 68px;
  padding: 6px 10px;
  text-align: center;
  border-style: none;
  border-radius: 8px;
  box-shadow: 1px 1px 1px 1px ivory;
}

.numkey{
  background-color:rgb(56, 56, 56);
}

.operator{
  background-color: rgb(225, 155, 132);
}

.active-op{
  background-color: rgb(12, 61, 62);
}

.btn-clear{
  background-color: rgba(248, 104, 21, 0.9);
  height: 72px;
  font-size: 24px;
}

.equals{
background-color: ivory;
color:rgb(56, 56, 56);
box-shadow: 1px 1px 1px 1px rgb(56, 56, 56)
}

@media screen and (max-width: 400px){

  .numkey, .operator, .equals, .btn-clear{
    font-size: 1.5rem;
    width: 60px;
    height: 60px;
    padding: 6px 10px;
  }

  .screen {
    font-size: 1.5rem;
  }

  .io {
    font-size: 1.875rem;
  }

}

/* For use with exponent button
.toggle-data{
  display: none;
}
*/
